@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply box-border;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.orderContainer::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.header-banner {
  background-image: url("../assets/bannerbackground.png");
  height: 600px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner {
  background-image: url("../assets/bannerbackground.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.bg-primary {
  background: #f91944;
}
.bg-primary-dark {
  background: #ce193c;
}
.text-primary {
  color: #f91944;
}
.border-primary {
  border: 1px solid #f91944;
}

/* Glassmorphism card effect */
.glass {
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.57);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.menu_tab {
  @apply text-gray-800 cursor-pointer select-none;
}
.active_menu_tab {
  @apply rounded-full px-4 py-2 text-white select-none;
}
